<h1>Editing External Subscription</h1>

<%= render 'form', external_subscription: @external_subscription %>

<%= link_to 'Show', @external_subscription %> |
<%= link_to 'Back', external_subscriptions_path %>
